* {
    margin: 0;
    padding: 0;
}
.nav {
    width: 1420px;
    height: 833px;
}
.nav {
    position: relative;
}
.nav img {
    width: 100%;
    height: 100%;
    background: no-repeat;
}
.nav p {
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 20px;
    font-weight: 200;
    font-family: "华文行楷","Microsoft Himalaya";
}